<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button icon-only menuToggle *ngIf="loggedIn">
            <img src="./assets/img/icons/menu.png" width="25" />
        </button>
        <ion-title>
            <div class="bar-title text-xs-center">Terms &amp; Conditions</div>
        </ion-title>
        <ion-buttons end>
            <div class="btn-back row middle-xs end-xs" (click)="backButtonClick()">
            	<img src="./assets/img/icons/back.png" />
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="iframe-container" *ngIf="page == 'login' || page == undefined">
        <iframe src="http://118.201.197.142/htmlformats/terms-conditions.html" width="100%" height="100%"></iframe>
    </div>

    <div class="tnc-content has-header has-copyright" *ngIf="page == 'claims' ">
        <div class="bg-white">
            <div class="tnc-list">
                <div class="tnc-item">
                    <div class="tnc-title">{{termsTitle}}</div>
                    <div class="tnc-content" [innerHTML]="termsBody">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
	<div class="copyright text-xs-center">&copy; Alliance Healthcare 2017, All Rights Reserved.</div>
</ion-footer>
