page-termsconditions {
	.header-ios {
		.title-ios {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	.tnc-content {
		background: #fff;
		padding: 0 0 20px;

		.tnc-list {
			counter-reset: list;

			.tnc-item {
				counter-increment: list;

				.tnc-title {
					font: 14px/1.45 $medium;
					margin: 0 0 10px;
					text-align: center;
					//text-decoration: underline;

					// &:before {
					// 	content: counter( list ) '. ';
					// }
				}
			}
		}
	}

	.iframe-container {
		height: 100vh;
		background: #fff;
		padding: 0 0 30px;

		iframe {
			// transform: scale( .95 );
			// transform-origin: bottom center;
			// margin-top: -30px;
		}
	}
}