page-submitclaims {
	h3{
		color:#f3a121;
	}
	.dateTime {
		width: 100%;
	    padding: 7px 10px;
	    border: 1px solid #ddd;
	    border-radius: 5px;
	    background-color: transparent;
	}

	.select-padding {
		padding: 0 10px 0 0;
	}

	.icon-padding {
		width: 30px;
	}
	.remove-icon {
		margin: 0 0 0 5px;
	}
}
