page-submitclaims {
	h3{
		color:#f3a121;
	}
	.dateTime {
		width: 100%;
	    padding: 7px 10px;
	    border: 1px solid #ddd;
	    border-radius: 5px;
	    background-color: transparent;
	    height: 36px;
	}

	.select-padding {
		padding: 0 10px 0 0;
	}

	.icon-padding {
		width: 30px;
	}
	.remove-icon {
		margin: 0 0 0 5px;
	}

	h3 {
		color: $gold;
	}

	.totals {
		.total-section {
			border: 1px solid #ddd;
			margin: 0 0 -1px;

			.label {
				font: 12px/1.45 $light;
				border-right: 1px solid #ddd;
				padding: 5px;
			}

			.price {
				padding: 5px;

				input[type=number] {
					width: 100%;
					display: block;
					background: #fff;
					padding: 5px 10px 5px 0;
				}

				.currency {
					font: 12px/1.45 $light;
				}
			}
		}
	}

	.add-specialized {
		font: 12px/1.45 $light;
		margin: 0;
		height: 36px;
	}

	.filename {
		width:100% !important; padding:5px 0px;
	}

	.error-message {
		border: 1px solid #c93a26;
		background: #fadcdb;
		padding: 10px;
		border-radius: 3px;
		position: relative;

		.icon {
			margin: 0 10px 0 0;
			color: #c93a26;
		}

		.close-message {
			color: #d89793;
			position: absolute;
			top: 0;
			right: 5px;
		}

		.message {
			font: 0.857em/1.45 $light;

			strong {
				font: 1em/1.45 $bold;
			}
		}
	}

}
