<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button icon-only menuToggle>
            <img src="./assets/img/icons/menu.png" width="25" />
        </button>
        <ion-title>
            <div class="bar-title text-xs-center">Submit Claims</div>
        </ion-title>
        <ion-buttons end>
            <div class="btn-back row middle-xs end-xs" (click)="backButtonClick()">
            	<img src="./assets/img/icons/back.png" />
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
	<div class="submitClaims-content has-header has-copyright" style="padding-top: 15px;">
		<form (ngSubmit)="submitClaim()" [formGroup]="claimFormGroup">
		<div class="bg-white">
			<h3 class="text-xs-uppercase">Make TPA Claim</h3>
			<div class="form-group">
				<div class="label">Employee Name/NRIC</div>
				<div class="input-field">
				<!-- [(ngModel)]="claimForm.claimName" -->
					<select name="claimName" formControlName='claimName' (change)="onChange()">
						<option  *ngFor="let name of memberInfo; let i = index" [value]="name.MemberNRIC" >{{name.MemberName}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="label">Visit Date</div>
				<div class="input-field">
					<ion-item no-lines style="padding:0px 0px">
						<ion-datetime class="has-calendar dateTime" displayFormat="MM/DD/YYYY" pickerFormat="MMM DD YYYY" name="toDate" formControlName='toDate'></ion-datetime>
                    </ion-item>

				</div>
			</div><br/>
			<!-- <div >
				<div class="row center-xs" >
					<div class="col-xs-7">
						<div class="btn btn-yellow" (click)="showBenefits()">Show Benefits</div>
					</div>
				</div>
			</div><br/> -->
			<h3 class="text-xs-uppercase">Provider/Clinic Information</h3>
			<div class="form-group">
				<div class="label">Provider Name</div>
				<div class="input-field">
					<select name="select_providerName" formControlName="select_providerName">
						<option value=" disabled">Select</option>
						<option [value]="i" *ngFor="let provider of providers; let i = index">{{provider.Name}}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 has-padR">
					<div class="form-group">
						<div class="label">Claim Type</div>
						<div class="input-field">
							<select name="select_claimType" formControlName="select_claimType" (change)="onChangeClaimType()">
								<option value="" disabled>Select</option>
								<option [value]="id" *ngFor="let type of claimTypes;let id = index">{{type.ClaimTypeDescription}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-6 has-padL">
					<div class="form-group">
						<div class="label">Referral Letter</div>
						<div class="input-field">
							<label class="checkbox-field">
								<input type="checkbox" name="referral" formControlName="referral"/>
								<span>(Check to indicate 'Yes')</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<h3 class="text-xs-uppercase" *ngIf="showReferral">XRay/Lab Referring Clinic Information</h3>
			<div class="form-group" *ngIf="showReferral">
				<div class="label">Referral Clinic Name</div>
				<div class="input-field">
					<input type="text" name="ref_clinic" formControlName="ref_clinic" />
				</div>
			</div>
			<div class="form-group" *ngIf="showReferral">
				<div class="label">Clinic Type</div>
				<div class="input-field">
					<select name="select_ref_clinicType" formControlName="select_ref_clinicType">
						<option value="" disabled>Select</option>
						<option value="SP">SPECIALIST</option>
						<option value="GP">GENERAL PRACTITIONER</option>
					</select>
				</div>
			</div>

			<br/>
			<h3 class="text-xs-uppercase">Diagnosis</h3>
			<div class="gray-title">Acute Diagnosis</div>
			<div class="form-group" #diagnosis1 id="diagnosis1" *ngIf="acute1">
				<div class="label">Diagnosis 1</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_acuteDiagnosis1" formControlName="select_acuteDiagnosis1">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let ad of acuteDiagnosisList; let i = index">{{ad.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeAD1($event)" name="select_acuteDiagnosis1x" formControlName="select_acuteDiagnosis1x"/>
						<input type="hidden" name="select_acuteDiagnosis1" formControlName="select_acuteDiagnosis1"/>
						  <ion-list *ngIf="showAD1">
						    <ion-item #item_ad1 *ngFor="let ad of acuteDiagnosisList; let i = index" (click)="selectedAD1(i)">
						      {{ ad.Description }}
						    </ion-item>
						  </ion-list>
					</div>
					<div class="icon row middle-xs end-xs icon-padding"><i (click)="addAcute('ad_2')" class="fa fa-plus" aria-hidden="true"></i></div>
				</div>
			</div>
			<div class="form-group" #diagnosis2 id="diagnosis2" *ngIf="acute2">
				<div class="label">Diagnosis 2</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_acuteDiagnosis2" formControlName="select_acuteDiagnosis2">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let ad of acuteDiagnosisList; let i = index">{{ad.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeAD2($event)" name="select_acuteDiagnosis2x" formControlName="select_acuteDiagnosis2x"/>
						<input type="hidden" name="select_acuteDiagnosis2" formControlName="select_acuteDiagnosis2"/>
						  <ion-list *ngIf="showAD2">
						    <ion-item *ngFor="let ad of acuteDiagnosisList; let i = index" (click)="selectedAD2(i)">
						      {{ ad.Description }}
						    </ion-item>
						  </ion-list>
					</div>
					<div class="icon row middle-xs end-xs icon-padding">
						<i (click)="addAcute('ad_3')" class="fa fa-plus" aria-hidden="true"></i>
						<i (click)="removeAcute('ad_2')" class="fa fa-minus remove-icon" aria-hidden="true" ></i>
					</div>
				</div>
			</div>

			<div class="form-group" #diagnosis3 id="diagnosis3" *ngIf="acute3">
				<div class="label">Diagnosis 3</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_acuteDiagnosis3" formControlName="select_acuteDiagnosis3">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let ad of acuteDiagnosisList; let i = index">{{ad.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeAD3($event)" name="select_acuteDiagnosis3x" formControlName="select_acuteDiagnosis3x"/>
						<input type="hidden" name="select_acuteDiagnosis3" formControlName="select_acuteDiagnosis3"/>
						  <ion-list *ngIf="showAD3">
						    <ion-item *ngFor="let ad of acuteDiagnosisList; let i = index" (click)="selectedAD3(i)">
						      {{ ad.Description }}
						    </ion-item>
						  </ion-list>
					</div>	
					<div class="icon row middle-xs end-xs icon-padding">
						<i (click)="addAcute('ad_4')" class="fa fa-plus" aria-hidden="true"></i>
						<i (click)="removeAcute('ad_3')" class="fa fa-minus remove-icon" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="form-group" *ngIf="acute4">
				<div class="label">Diagnosis 4</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_acuteDiagnosis4" formControlName="select_acuteDiagnosis4">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let ad of acuteDiagnosisList; let i = index">{{ad.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeAD4($event)" name="select_acuteDiagnosis4x" formControlName="select_acuteDiagnosis4x"/>
						<input type="hidden" name="select_acuteDiagnosis4" formControlName="select_acuteDiagnosis4"/>
						  <ion-list *ngIf="showAD4">
						    <ion-item *ngFor="let ad of acuteDiagnosisList; let i = index" (click)="selectedAD4(i)">
						      {{ ad.Description }}
						    </ion-item>
						  </ion-list>
					</div>
					<div class="icon row middle-xs end-xs icon-padding">
						<i (click)="removeAcute('ad_4')" class="fa fa-minus remove-icon" aria-hidden="true"></i>
					</div>
				</div>
			</div><br/>

			<div class="gray-title">Chronic Diagnosis</div>
			<div class="form-group" *ngIf="chronic1">
				<div class="label">Diagnosis 1</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_chronicDiagnosis1" formControlName="select_chronicDiagnosis1">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let cd of chronicDiagnosisList; let i = index">{{cd.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeCD1($event)" name="select_chronicDiagnosis1x" formControlName="select_chronicDiagnosis1x"/>
						<input type="hidden" name="select_chronicDiagnosis1" formControlName="select_chronicDiagnosis1"/>
						  <ion-list *ngIf="showCD1">
						    <ion-item *ngFor="let cd of chronicDiagnosisList; let i = index" (click)="selectedCD1(i)">
						      {{ cd.Description }}
						    </ion-item>
						  </ion-list>
					</div>
					<div class="icon row middle-xs end-xs icon-padding">	
						<i (click)="addChronic('cd_2')" class="fa fa-plus" aria-hidden="true"></i>
					</div>	
				</div>
			</div>
			<div class="form-group" *ngIf="chronic2">
				<div class="label">Diagnosis 2</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_chronicDiagnosis2" formControlName="select_chronicDiagnosis2">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let cd of chronicDiagnosisList; let i = index">{{cd.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeCD2($event)" name="select_chronicDiagnosis2x" formControlName="select_chronicDiagnosis2x"/>
						<input type="hidden" name="select_chronicDiagnosis2" formControlName="select_chronicDiagnosis2"/>
						  <ion-list *ngIf="showCD2">
						    <ion-item *ngFor="let cd of chronicDiagnosisList; let i = index" (click)="selectedCD2(i)">
						      {{ cd.Description }}
						    </ion-item>
						  </ion-list>
					</div>
					<div class="icon row middle-xs end-xs icon-padding">	
						<i (click)="addChronic('cd_3')" class="fa fa-plus" aria-hidden="true"></i>
						<i (click)="removeChronic('cd_2')" class="fa fa-minus remove-icon" aria-hidden="true"></i>
					</div>	
				</div>
			</div>
			<div class="form-group" *ngIf="chronic3">
				<div class="label">Diagnosis 3</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_chronicDiagnosis3" formControlName="select_chronicDiagnosis3">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let cd of chronicDiagnosisList; let i = index">{{cd.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeCD3($event)" name="select_chronicDiagnosis3x" formControlName="select_chronicDiagnosis3x"/>
						<input type="hidden" name="select_chronicDiagnosis3" formControlName="select_chronicDiagnosis3"/>
						  <ion-list *ngIf="showCD3">
						    <ion-item *ngFor="let cd of chronicDiagnosisList; let i = index" (click)="selectedCD3(i)">
						      {{ cd.Description }}
						    </ion-item>
						  </ion-list>
					</div>
					<div class="icon row middle-xs end-xs icon-padding">	
						<i (click)="addChronic('cd_4')" class="fa fa-plus" aria-hidden="true"></i>
						<i (click)="removeChronic('cd_3')" class="fa fa-minus remove-icon" aria-hidden="true"></i>
					</div>	
				</div>
			</div>
			<div class="form-group" *ngIf="chronic4">
				<div class="label">Diagnosis 4</div>
				<div class="input-field row middle-xs">
					<div class="col-xs-auto select-padding" >
						<!-- <select name="select_chronicDiagnosis4" formControlName="select_chronicDiagnosis4">
							<option value="" disabled>Select</option>
							<option [value]="i" *ngFor="let cd of chronicDiagnosisList; let i = index">{{cd.Description}}</option>
						</select> -->
						<input type="text" (keyup)="onInputChangeCD4($event)" name="select_chronicDiagnosis4x" formControlName="select_chronicDiagnosis4x"/>
						<input type="hidden" name="select_chronicDiagnosis4" formControlName="select_chronicDiagnosis4"/>
						  <ion-list *ngIf="showCD4">
						    <ion-item *ngFor="let cd of chronicDiagnosisList; let i = index" (click)="selectedCD4(i)">
						      {{ cd.Description }}
						    </ion-item>
						  </ion-list>
					</div>
					<div class="icon row middle-xs end-xs icon-padding">	
						<i (click)="removeChronic('cd_4')" class="fa fa-minus remove-icon" aria-hidden="true"></i>
					</div>	
				</div>
			</div><br/>
			<h3 class="text-xs-uppercase" *ngIf="false">Specialized Procedure</h3>
			<div class="form-group" *ngIf="false">
				<div class="label">Specialized Procedure</div>
				<div class="input-field">
					<select name="specialized_procedure">
						<option value="">Select</option>
						<option value="ecg">ECG ( Resting Recording/Reporting)</option>
						<option value="treadmill">Treadmill</option>
					</select>
				</div>
			</div>
			<div class="totals" *ngIf="false">
				<div class="total-section row">
					<div class="label col-xs-6 row middle-xs">Total Specialized Procedure to Pay</div>
					<div class="price col-xs-6 row middle-xs">
						<div class="col-xs-auto">
							<input type="number" />
						</div>
						<div class="currency">[SGD]</div>
					</div>
				</div>
				<div class="total-section row">
					<div class="label col-xs-6 row middle-xs">Total Specialized Procedure Fee</div>
					<div class="price col-xs-6 row middle-xs">
						<div class="col-xs-auto">
							<input type="number" />
						</div>
						<div class="currency">[SGD]</div>
					</div>
				</div>
			</div><br/>
			<div class="form-group" *ngIf="false">
				<div class="row bottom-xs">
					<div class="col-xs-4">
						<div class="label">Price</div>
						<div class="input-field">
							<input type="number" />
						</div>
					</div>
					<div class="col-xs-8" style="padding: 0 0 0 10px;">
						<div type="" class="btn btn-yellow add-specialized" (click)="openAddSP()">Add Specialized Procedure</div>
					</div>
				</div>
			</div>
			<!-- <br/> -->
			<div class="form-group">
				<div class="label">Claim Remarks</div>
				<div class="input-field">
					<textarea formControlName="remarks" name="remarks"></textarea>
				</div>
			</div><br/>
			
			<h3 class="text-xs-uppercase">Upload Attachment</h3>
			<div class="upload-container ">
				<div class="actions row middle-xs">
					<div class="label"><input type="text" value="{{imageNameBefore}}" style="background-color: transparent " disabled /></div>
					<div class="btn-actions" >
						<div class="row middle-xs">
							<div class="col-xs-6 has-padR browse-container">
								
								<div class="btn-browse btn btn-gray" style="padding: 5px;" (click)="browseFile()">Browse</div>
							</div>
							<div class="col-xs-6 has-padL">
								<div class="add-upload btn btn-gray" style="padding: 5px;" (click)="addImage()">Add</div>
							</div>
						</div>
					</div>
				</div> 
				<div class="img-container row middle-xs between-xs" *ngFor="let img of imgArray; let i = index">
					<div class="img row middle-xs">
						<img src="{{img.image}}" *ngIf="img.type.toLowerCase() == 'pdf'"/>
						<img  [src]="_DomSanitizer.bypassSecurityTrustUrl(img.image)" *ngIf="img.type.toLowerCase() != 'pdf'"/>
						<div class="file-name">{{img.imageName}}</div>
					</div>
					<div class="delete" (click)="removeImage(i)"><i class="fa fa-times" aria-hidden="true" ></i></div>
				</div>
			</div>


			<br/>
			<h3 class="text-xs-uppercase">Payment Details</h3>
			<div class="row bottom-xs">
				<div class="col-xs-6 has-padR">
					<div class="form-group">
						<div class="label">Total Amount (SGD)</div>
						<div class="input-field">
							<input type="number" name="total_amount" formControlName="total_amount" />
						</div>
					</div>
				</div>
				<div class="col-xs-6 has-padL">
					<div class="form-group">
						<div class="label">Total GST Amount (SGD)</div>
						<div class="input-field">
							<input type="number" name="total_amount_gst" formControlName="total_amount_gst"/>
						</div>
					</div>
				</div>
			</div> 
			<div class="btn-panel">
				<div class="row center-xs" *ngIf="isEdit==false">
					<div class="col-xs-7">
						<button type="submit" class="btn btn-yellow">Calculate Claim</button>
					</div>
				</div>
				<div class="row center-xs" *ngIf="isEdit==true">
					<div class="col-xs-6 has-padR">
						<div type="submit" class="btn btn-yellow" (click)="deleteClaim()">Delete</div>
					</div>
					<div class="col-xs-6 has-padL" >
						<div type="submit" class="btn btn-gray" (click)="backButtonClick()">Back</div>
					</div>	
				</div>
			</div>
		</div>
		</form>
	</div>
</ion-content>
<ion-footer>
	<div class="copyright text-xs-center">&copy; Alliance Healthcare 2017, All Rights Reserved.</div>
</ion-footer>
