<ion-header >
    <ion-navbar hideBackButton>
        <button ion-button icon-only menuToggle="left" start>
            <img src="./assets/img/icons/menu.png" width="25" />
        </button>
        <ion-title>
            <div class="bar-title text-xs-center">E-Card</div>
        </ion-title>
        <ion-buttons right end>
            <div class="btn-back row middle-xs end-xs" (click)="backButtonClick()">
            	<img src="./assets/img/icons/back.png" />
            </div>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content>
    <div class="ecard-content has-header has-copyright">
        <div class="ecard-title row middle-xs">
            <div class="text">E-Card</div>
            <div class="col-xs-auto select-container" *ngIf="hasDependents">
                <select [(ngModel)]="card.name" name="name" (change)="onChange(card.name)"> 
                    <option  *ngFor="let name of memberInfo; let i = index" [value]="i" >{{name.MemberName}}</option>
                    <!-- <option *ngFor="let name of memberInfo">{{name.MemberName}}</option> -->
                </select>
            </div>
        </div>
        <div class="bg-white">
            <div class="flip-container" #cardContainer>
                <div class="flipper">
                        <!-- cardBack = !cardBack;cardFront = false -->
                    <div class="front card flip" (click)="flipCard()" >
                    <!-- isFlip=!isFlip;cardBack = !cardBack;cardFront = false -->
                        <!-- <img src="./assets/img/cards/front.png" /> -->
                        <!-- <img src="http://118.201.197.142/Images/MemberCard/GE_Front.png" id="imageDiv"> -->
                        <img src="{{cardImgF}}" />
                        <div class="card-details row center-xs direction-column-xs" #detailsContainer id='detailsContainer'>
                            <div class="row middle-xs">
                                <div class="label">Company Code:</div>
                                <div class="content">{{cardInfo?.CompanyCode}}</div>
                            </div>
                            <div class="row middle-xs">
                                <div class="label">Company Name:</div>
                                <div class="content">{{cardInfo?.CompanyName}}</div>
                            </div>
                            <div class="row middle-xs">
                                <div class="label">Member Name:</div>
                                <!-- <div class="content">{{cardInfo?.EmployeeName}}</div> -->
                                <div class="content">{{cardName}}</div>
                                
                            </div>
                            <div class="row middle-xs">
                                <div class="label">NRIC/FIN:</div>
                                <div class="content">{{cardNRIC}}</div>
                            </div>
                            <div class="row middle-xs">
                                <div class="label">Scheme:</div>
                                <div class="content">{{cardInfo?.Scheme}}</div>
                            </div>
                            <div class="row middle-xs">
                                <div class="label">Clinic:</div>
                                <div class="content">{{cardInfo?.Clinics}}</div>
                            </div>
                            <div class="row middle-xs">
                                <div class="label self-top-xs">Remarks:</div>
                                <div class="content">{{cardInfo?.Remarks}}<br>{{cardInfo?.Remarks1}}<br>{{cardInfo?.Remarks2}}<br>{{cardInfo?.Remarks3}}</div>
                            </div>
                        </div>
                    </div>
                        <!-- cardFront = !cardFront;cardBack = false -->
                    <div class="back card" (click)="flipCardBack()">
                        <img src="{{cardImgB}}" />
                    </div>
                </div>
            </div>
            <div class="card-bottom-text">
                <h3 class="text-xs-center">Tap the card to flip</h3>
                <div class="validation text-xs-center">VALIDATED: {{cardInfo?.MedinetStartDate | date: 'MMM dd, yyyy'}} </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="copyright text-xs-center">&copy; Alliance Healthcare 2017, All Rights Reserved.</div>
</ion-footer>
