
<div class="modal-area row center-xs middle-xs" (customevent)="modalClose()">
    <div class="content-modal">
        <div class="close-modal row middle-xs end-xs" (click)="modalClose()">
            <div class="text">Close</div>
            <div class="icon"><i class="fa fa-close"></i></div>
        </div> <!-- end of .close-modal -->
        

    <div class="claimDetails-content">
        <div class="bg-white">
            <div class="claim-details">
                <div class="title"><span>{{claimDetails._PatientNRIC}}</span>: <span>{{claimDetails._PatientName}}</span></div>
                <div class="info row between-xs">
                    <div class="label">Claim Code</div>
                    <div class="details" *ngIf="mode == 'panel'">{{claimDetails._ClaimCode}}</div>
                </div>
                <div class="info row between-xs">
                    <div class="label">Visit Date</div>
                    <div class="details">{{claimDetails._Treatmentdate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="info row between-xs">
                    <div class="label">Clinic Name</div>
                    <div class="details">{{claimDetails._providername}}</div>
                </div>
                <div class="info row between-xs">
                    <div class="label">Clinic Amount</div>
                    <div class="details">{{claimDetails._TotalDeductAmount}}</div>
                </div>
                <div class="info row between-xs">
                    <div class="label">Clinic Status</div>
                    <div class="details">{{claimDetails._ClaimStatus}}</div>
                </div>
                <p class="disclosure-link">Patient's Consent for Disclosure of Medical Information</p>
                <div class="accept-terms">

                    <ion-checkbox color="blue" style="width: 30px;height: 17px;" [(ngModel)]="isCheckTM" checked name="isCheckTM" disabled></ion-checkbox>
                    <div style="display:inline-block;" (click)="gotoTermsCons('claims')">I accept the <span class="terms-link" >Terms and Conditions</span></div>
                    
                </div>
                <div class="btn-panel row middle-xs between-xs">
                    <a class="btn btn-yellow" (click)="backButtonClick()">OK</a>
                    <a class="btn btn-gray" (click)="editClaim()">Edit</a>
                </div>
            </div>
        </div>
    </div> 



    </div>
</div>

<!-- <ion-header>
    <ion-navbar hideBackButton>
        <button ion-button icon-only menuToggle *ngIf="false">
            <img src="./assets/img/icons/menu.png" width="25" />
        </button>
        <ion-title>
            <div class="bar-title text-xs-center">Claim Details</div>
        </ion-title>
        <ion-buttons end>
            <div class="btn-back row middle-xs end-xs" (click)="backButtonClick()">
                <img src="./assets/img/icons/back.png" />
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-footer>
    <div class="copyright text-xs-center">&copy; Alliance Healthcare 2017, All Rights Reserved.</div>
</ion-footer> -->
