<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button icon-only menuToggle>
            <img src="./assets/img/icons/menu.png" width="25" />
        </button>
        <ion-title>
            <div class="bar-title text-xs-center">Claims &amp; Benefits</div>
        </ion-title>
        <ion-buttons end>
            <div class="btn-back row middle-xs end-xs" *ngIf="hideMunaBackButton" (click)="backButtonClick()">
            	<img src="./assets/img/icons/back.png" />
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
	<div class="claim-content has-header has-copyright">
		<div class="tabs-menu">
			<ul class="row middle-xs">
				<li #claimsBtn  (click)="gotoClaim()" class="active">Claim History</li>
				<li #benefitsBtn (click)="gotoBenefits()">Benefits</li>
			</ul>
		</div>
        <div class="bg-white"  #claimsPage id="claimsPage" *ngIf="showClaimsPage">
            <form (ngSubmit)="searchClaim()">
            <div class="searchClaims-container">
                <div class="form-group"> 
                    <div class="label">Name</div>
                    <div class="input-field">
                        <select  name="claimName" [(ngModel)]="claimForm.claimName">
                            <option  *ngFor="let name of memberInfo; let i = index" [value]="i" >{{name.MemberName}}</option>
                            <!-- <option value="{{(memberInfo | async)?.MemberNRIC}}" >{{(memberInfo | async)?.MemberName}}</option>   -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 has-padR">
                        <div class="form-group">
                            <div class="label">From</div>
                            <div class="input-field">
                                <ion-item no-lines style="padding:0px 0px">
                                <!-- <input  type="datetime-local" class="has-calendar" /> -->
                                <ion-datetime  class="has-calendar dateTime" displayFormat="MM/DD/YYYY" pickerFormat="MMM DD YYYY" name="fromDate" [(ngModel)]="claimForm.fromDate"></ion-datetime>
                                </ion-item>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 has-padL">
                        <div class="form-group">
                            <div class="label">To</div>
                            <ion-item no-lines style="padding:0px 0px">
                                <ion-datetime class="has-calendar dateTime" displayFormat="MM/DD/YYYY" pickerFormat="MMM DD YYYY" name="toDate" [(ngModel)]="claimForm.toDate"></ion-datetime>
                                </ion-item>
                        </div>
                    </div>
                </div>
                <div class="btn-panel row middle-xs" style="display: inline-block;width: 100%;" align="center">
                    <div class="col-xs-6 ">
                        <!-- <a href="#" class="btn btn-yellow">Search</a> -->
                        <button class="btn btn-yellow" type="submit">Search</button>
                    </div>
                    <div class="col-xs-6 ">
                        <a href="#" class="btn btn-gray" (click)="gotoSubmitClaims()">Add Claims</a>
                        
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="bg-white"  #claimsPage id="claimsPage" *ngIf="showClaimsPage">
            <div class="claims-list" *ngIf="noRecordsFound">
                <p>No Records Found</p>
            </div>
            
            <div class="claims-list">
                <div class="claim-item" *ngFor = "let tpa of claimHistoryList; let id = index" (click)="openClaim(id,'panel')">
                    <div class="row">
                        <div class="label">Claim Code</div>
                        <div class="text">{{tpa._ClaimCode}}</div>
                    </div>
                    <div class="row">
                        <div class="label">Visit Date</div>
                        <div class="text">{{tpa._Treatmentdate | date: 'MM/dd/yyyy'}}</div>
                    </div>
                    <div class="row">
                        <div class="label">Clinic Name</div>
                        <div class="text">{{tpa._providername}}</div>
                    </div>
                    <div class="row">
                        <div class="label">Claim Amount</div>
                        <div class="text">{{tpa._TotalDeductAmount}}</div>
                    </div>
                    <div class="row">
                        <div class="label">Claim Status</div>
                        <div class="text">{{tpa._ClaimStatus}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="btn-panel" *ngIf="hideExportButton">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#" class="btn btn-yellow">Export to CSV</a>
                    </div>
                </div>
            </div> -->
        </div>
    


        <!-- Benefits Page  -->

        <div class="bg-white" #benefitsPage id="benefitsPage"  *ngIf="showBenefitsPage">
            <h3 class="text-xs-uppercase benfitsLabel">Benefit Plan Details</h3>
            <!-- <form (click)="getBenefits()"> -->
            <div class="row">
                <div class="col-xs-6 has-padR">
                    <div class="form-group">
                        <div class="label">Employee NRIC</div>
                        <div class="input-field">
                            <input type="text" name="employer_nric" [(ngModel)]="benefitsForm.employee_nric" disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 has-padL">
                    <div class="form-group">
                        <div class="label">Benefit Period</div>
                        <div class="input-field">
                            <select name="select_benefitPeriod" [(ngModel)]="benefitsForm.select_benefitPeriod" (change)="onChange(benefitsForm.select_benefitPeriod)" style="white-space: nowrap">
                                <option value="" selected disabled>Select</option>
                                <option [value]="i" *ngFor="let timePeriod of benefitPeriod; let i = index">{{timePeriod.period}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 has-padR">
                    <div class="form-group">
                        <div class="label">Plan Name</div>
                        <div class="input-field">
                            <input type="text" name="plan_name" [(ngModel)]="benefitsForm.plan_name" disabled="true" value="{{(benefitsInfo | async)?.plan_name}}" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 has-padL">
                    <div class="form-group">
                        <div class="label">Employee Name</div>
                        <div class="input-field">
                            <select name="select_employeeName" [(ngModel)]="benefitsForm.select_employeeName" disabled="true">
                                <!-- <option value="" selected disabled>Select</option> -->
                                <!-- <option value="{{(memberInfo | async)?.MemberNRIC}}" >{{(memberInfo | async)?.MemberName}}</option> -->
                                <option  *ngFor="let name of memberInfo; let i = index" [value]="i" >{{name.MemberName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 has-padR">
                    <div class="form-group">
                        <div class="label">Benefit Plan Start Date</div>
                        <div class="input-field">
                            <input type="text" name="benefitPlan_startDate" class="has-calendar" [(ngModel)]="benefitsForm.benefitPlan_startDate" disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 has-padL">
                    <div class="form-group">
                        <div class="label">Benefit Plan End Date</div>
                        <div class="input-field">
                            <input type="text" name="benefitPlan_endDate" class="has-calendar" [(ngModel)]="benefitsForm.benefitPlan_endDate" disabled="true"/>
                        </div>
                    </div>
                </div>
            </div><br/>
            <h3 class="text-xs-uppercase benfitsLabel">Diagnosis Benefit</h3>
            <div class="row">
                <div class="col-xs-6 has-padR">
                    <div class="form-group">
                        <div class="label">Acute Diagnosis</div>
                        <div class="input-field">
                            <input type="text" name="acute_diagnosis" disabled="true" value="{{(benefitsInfo | async)?.acute_diagnosis}}" />

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 has-padL">
                    <div class="form-group">
                        <div class="label">Chronic Diagnosis</div>
                        <div class="input-field">
                            <input type="text" name="chronic_diagnosis" disabled="true" value="{{(benefitsInfo | async)?.chronic_diagnosis}}" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- </form> -->
            <h3 class="text-xs-uppercase benfitsLabel">Out Panel Details</h3>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Co-Pay</th>
                        <th>Co-Pay Type</th>
                        <th>Limit / Visit</th>
                        <th>Limit / Year</th>
                        <th>Visit / Year</th>
                    </tr>
                </thead>
                <tbody *ngFor="let tpa of tpa_benefits">
                    <tr >
                        <td>{{tpa.Type}}</td>
                        <td>{{tpa.CoPay}}</td>
                        <td>{{tpa.CoPayType}}</td>
                        <td>{{tpa.LimitPerVisiit}}</td>
                        <td>{{tpa.LimitPerYear}}</td>
                        <td>{{tpa.NoOfVisitPerYear}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="btn-panel">
                <div class="row center-xs">
                    <!-- <div class="col-xs-7">
                        <button type="submit" class="btn btn-yellow">Save</button>
                    </div> -->
                </div>
            </div>
        </div>





	</div>

</ion-content>
<ion-footer>
    <div class="copyright text-xs-center">&copy; Alliance Healthcare 2017, All Rights Reserved.</div>
</ion-footer>
