<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button icon-only menuToggle>
            <img src="./assets/img/icons/menu.png" width="25" />
        </button>
        <ion-title>
            <div class="bar-title text-xs-center">Check Balance</div>
        </ion-title>
        <ion-buttons end>
            <div class="btn-back row middle-xs end-xs" (click)="backButtonClick()">
            	<img src="./assets/img/icons/back.png" />
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="checkBalance-content has-header has-copyright">
        
        <div class="checkBalance-details">
        <div class="col-xs-auto select-container" *ngIf="hasDependents">
            <select [(ngModel)]="balance.name" name="name" (change)="onChange(balance.name)"> 
                <option  *ngFor="let name of memberInfo1; let i = index" [value]="i" >{{name.MemberName}}</option>
                    <!-- <option *ngFor="let name of memberInfo">{{name.MemberName}}</option> -->
            </select>
        </div>
            <div class="section-details">
                <div class="title">Your Plan Details</div>
                <div class="info row between-xs">
                    <div class="label col-xs-6">NRIC/FIN</div>
                    <div class="details col-xs-6 text-xs-right">{{(memberInfo | async)?.MemberNRIC}}</div>
                </div>
                <div class="info row between-xs">
                    <div class="label col-xs-6">Member Name</div>
                    <div class="details col-xs-6 text-xs-right">{{(memberInfo | async)?.MemberName}}</div>
                </div>
                <div class="info row between-xs">
                    <div class="label col-xs-6">Company Name</div>
                    <div class="details col-xs-6 text-xs-right">{{(memberInfo | async)?.CompanyName}}</div>
                </div>
                <div class="info row between-xs">
                    <div class="label col-xs-6">Last Modified Date</div>
                    <!-- <div class="details col-xs-6 text-xs-right">{{dateModified | date: 'MM/dd/yyyy'}}</div> -->
                    <div class="details col-xs-6 text-xs-right">{{(balanceRemarks | async)?.BenefitModifiedDate}} </div>
                </div>
            </div> <!-- end of .section-details -->
            <div class="section-details">
                <div class="title">Annual Limit Details</div>
                <!--  *ngFor="let thisKey of annualLimitDetails | key" {{thisKey.key}}-->
                <div class="info row between-xs" *ngFor="let annual of annualLimitValue">
                    <div class="label col-xs-6 keyLabel" >{{annual.key}}</div>
                    <div class="details col-xs-6 text-xs-right" >{{annual.value}}</div>
                </div>
            </div>

            <div class="section-details">
                <div class="title">Independent Annual Limit Details</div>
                <!--  *ngFor="let thisKey of annualLimitDetails | key" {{thisKey.key}}-->
                <div class="info row between-xs" *ngFor="let independent of independentAnnualValue">
                    <div class="label col-xs-6 keyLabel" >{{independent.key}}</div>
                    <div class="details col-xs-6 text-xs-right" >{{independent.value}}</div>
                </div>
            </div>
            <div class="section-details">
                <div class="title">Remarks</div>
                <div>{{(balanceRemarks | async)?.Remarks}}</div>
            </div>
        </div> <!-- end of .checkBalance-details -->
    </div> <!-- end of .checkBalance-content -->
</ion-content>
<ion-footer>
    <div class="copyright text-xs-center">&copy; Alliance Healthcare 2017, All Rights Reserved.</div>
</ion-footer>
