page-checkbalance {
	.checkBalance {
		&-content {
			padding: 15px 15px 50px !important;
		}

		&-details {
			background: #fff;

			.section-details {
				margin: 0;
				padding: 20px 10px;

				.title {
					font: 14px/1.45 $bold;
					text-transform: uppercase;
					text-decoration: underline;
					margin: 0 0 20px;
				}

				.info {
					margin: 0 0 5px;

					.details {
						font: 12px/1.45 $bold;
					}
				}

				.keyLabel {
					font-size: 12px !important; 
				}
			}

			.select-container {
				position: relative;
				padding:10px 10px;

				&:after {
					content: '\f078';
					font: 12px/1.45px 'FontAwesome';
					color: gray;
					top: 25px;
					right: 15px;
					position: absolute;
				}

				select {
					width: 100%;
					appearance: none;
					color: #5c5c5c;
					padding: 5px 10px;
					background: #fff;
					border-radius: 5px;
					border: 1px solid #ddd;
				}
			}
		}
		
		
	}
}
