page-checkbalance {
	.checkBalance {
		&-content {
			padding: 15px 15px 50px !important;
		}

		&-details {
			background: #fff;

			.total-balance {
				background: $gold;
				padding: 20px 15px;
				color: #fff;
				margin: 0 0 20px;

				> div {
					color: #fff;
				}
			}

			.section-container {
				padding: 0 10px;

				.section-details {
					margin: 0;
					border: 1px solid #ddd;

					.title {
						font: 14px/1.45 $light;
						text-transform: uppercase;
						background: #ddd;
						padding: 5px 10px;
					}

					.section-row {
						padding: 5px 10px;
						
						&:not( :first-child ) {
							border-top: 1px solid #ddd;
						}

						.keyLabel {
							font: 12px/1.45 $light;
							width: 50%;
						}

						.info {
							font: 12px/1.45 $bold;
							width: 50%;
							text-align: right;
						}
					}
				}
			}

			.select-container {
				position: relative;
				padding:10px 10px;

				&:after {
					content: '\f078';
					font: 12px/1.45px 'FontAwesome';
					color: gray;
					top: 25px;
					right: 15px;
					position: absolute;
				}

				select {
					width: 100%;
					appearance: none;
					color: #5c5c5c;
					padding: 5px 10px;
					background: #fff;
					border-radius: 5px;
					border: 1px solid #ddd;
				}
			}
		}
		
		
	}
}
