page-submit-claim-details {
	.form-navigator {
		position: relative;

		.navigator-item {
			// color: $primary;
			position: relative;
			z-index: 2;

			.icon-container {
				margin: 0 0 5px;
			}
		}

		.form-navigator-line {
			background: #eff3f3;
			height: 3px;
			width: 65%;
			position: absolute;
			top: 15px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 2;

			.form-navigator-progress {
				// background: $primary;
				height: 3px;
			}
		}
	}

	.bg-gray {
		margin: 0 -30px;
	}


	.claimDetails-content {
		.claim-details {
			.title {
				font: 14px/1.45 $bold;
				margin: 0 0 20px;

				.label {
					font: 12px/1.45 $medium;
					
				}
			}

			.info {
				margin: 0 0 5px;

				.label {
					font: 12px/1.45 $medium;
					width: 90px;
				}

				.details {
					font: 12px/1.45 $light;
					width: calc( 100% - 90px );
					text-align: right;
				}
			}

			.disclosure-link {
				text-decoration: underline;
				margin: 15px 0 10px;
				font: 12px/1.45 $light;
			}

			.accept-terms {
				label {
					position: relative;

					input[type=checkbox] {
						position: absolute;
						top: 3px;
						left: 0;
						z-index: 2;
						opacity: 0;

						&:checked {
							+ .checkbox {
								&:before {
									content: '\f046';
									color: $yellow;
								}
							}
						}
					}

					.checkbox {
						position: relative;
						padding: 0 0 0 20px;
						font: 12px/1.45 $light;

						&:before {
							content: '\f096';
							font: 14px/1.45 'FontAwesome';
							position: absolute;
							top: -2px;
							left: 0;
						}
					}
				}
			}

			.terms-link {
				text-decoration: underline;
				font: 12px/1.45 $bold;
				color: #f3a121;
			}

			.btn-panel {
				.btn {
					width: calc( 50% - 5px );
				}
			}
		}
	}
}
