
<div class="modal-area row center-xs middle-xs" (customevent)="modalClose()">
    <div class="content-modal">
        <div class="close-modal row middle-xs end-xs" (click)="modalClose()">
            <div class="text">Close</div>
            <div class="icon"><i class="fa fa-close"></i></div>
        </div> <!-- end of .close-modal -->
        

    <div class="claimDetails-content">
        <div class="bg-white" style="width:80%">
            <div class="claim-details">
                <img [src]="_DomSanitizer.bypassSecurityTrustUrl((attachmentDetails | async)?._FileContent)" style="width:100%;height:80%" *ngIf="(attachmentDetails | async)?._ImageContent != undefined"/>
                <img src="{{(attachmentDetails | async)?._FileContent}}" style="width:100%;height:100%" *ngIf="(attachmentDetails | async)?._ImageContent == undefined"/>
                <!-- <img  [src]="_DomSanitizer.bypassSecurityTrustUrl(attachmentURL)" *ngIf="attachmentFileType.toLowerCase() != 'pdf'"/>
                <img src="./assets/img/pdf-icon.png" *ngIf="attachmentFileType == '.pdf'"/> -->
                <p>{{(attachmentDetails | async)?._AcutalFileName}}</p>
            </div>
        </div>
    </div> 
    </div>
</div>
